<p id="notice"><%= notice %></p>


<div class="competition-show"
  <h2><%= @competition.title %></h2>
  <em>
    <% if @competition.company.empty? %>
      <%= competition.user %>
    <% else %>
      <%= @competition.company %>
    <%end%>
  </em>

  <h3>Description:</h3>
  <p><%= @competition.description %></p>

  <p>Date drawn:</p>
  <em style="font-weight:bold;"><%= @competition.date_drawn %></em>

<%if @competition.user.id == current_user.id%>
        <%= link_to "Cancel", competitions_path %>
        <%= link_to "Edit Post", edit_competition_path(@post)%>
    <%else%>
        <% link_to "Cancel", competitions_path%>
    <%end%>
  </div>
