<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<%= render 'layouts/nav', job: @job %>

<div class="search">
  <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Feed" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>


  <% if @jobs.blank? %>
    <h4>No Search Results <%= params[:search] %>.</h4>
  <% end %>
</div>


    <% @jobs.each do |job| %>

    <section>
      <div class="header">
        <h2><%= job.title %></h2>
        <em style="font-weight:bold;">
          <% if @job.company.empty? %>
          <%= job.user %>
        <% else %>
          <%= @job.company %>
        <%end%>
      </em>

       <h3>Description</h3>
        <p><%= truncate(job.description, :length => 50) %></p>

      <div class="links">
        <%if @job.user.id == current_user.id%>
          <%= link_to 'Show', job %>
          <%= link_to 'Edit', edit_job_path(job) %>
          <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%else%>
          <%= link_to 'Show', job %>
        <%end%>
     </div>
    </div>
</section>
    <% end %>

<%= link_to 'New Job', new_job_path %>
