
<p id="notice"><%= notice %></p>

<h1>Feed</h1>
<%= render 'layouts/nav', post: @post %>

<div class="search">
  <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Feed" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>


  <% if @posts.blank? %>
    <h4>There are no recipes containing the term <%= params[:search] %>.</h4>
  <% end %>
</div>



<% @posts.each do |post| %>

<section>
      <div class="person">
      <!-- Profile picture -->
      <% if post.user.present? %>
        <strong><%= post.user.email %></strong>
        <strong><%= post.user.username %></strong>
      <% else %>
        <i>No email</i>
      <% end %>
</div>


  <div>
        <h2><%= post.title %></h2>
        <h3>Bibliography</h3>
        <p><%= post.bibliography%></p>
        <div class="links">
          <p><%= link_to 'Show', post %> |
          <%= link_to 'Edit', edit_post_path(post) %> |
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
  </div>



</section>

    <% end %>
