
<p id="notice"><%= notice %></p>

<h1>Feed</h1>
<%= render 'layouts/nav', post: @post %>


<div class="search">
  <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Feed" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>


  <% if @posts.blank? %>
    <h4>No Search Results <%= params[:search] %>.</h4>
  <% end %>
</div>



<% @posts.each do |post| %>

<section>
      <div class="person">
      <!-- Profile picture -->
      <% if post.user.present? %>
        <strong><%= post.user.username %></strong>
      <% else %>
        <strong><%= post.user.email %></strong>
      <% end %>
</div>
  <div class="header">
        <h2><%=post.title%></h2>
        <em><%=post.genre%></em>
        <h3>Bibliography</h3>
        <p><%=truncate(post.bibliography, :length => 50)%></p>

        <div class="links">
          <% if user_signed_in? %>
            <%if post.user_id == current_user%>
              <%= link_to 'Show', post %>
              <%= link_to 'Edit', edit_post_path(job) %>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%else%>
              <%= link_to 'Show', post %>
            <% end %>
          <% end %>
        </div>
    </div>
  </section>
<% end %>
