<p id="notice"><%= notice %>

  <%= render 'layouts/nav', post: @post %>

<section class="post-show-wrap">
<div class="show-person">
 <!-- Profile picture -->
<% if @post.user.present? %>
  <strong><%= @post.user.username %></strong>
<% else %>
  <strong><%= @post.user.email %></strong>
<% end %>
</div>

<div class="post-show">
    <h2><%= @post.title %></h2>
    <em><%= @post.genre %></em>
    <h3>Bibliography:</h3>
      <p><%= @post.bibliography%></p>
    <h3>Excerpt:</h3>
      <p><%= @post.excerpt %></p>

  <div class="price">
    <p>Price:</p>
    <strong><%= @post.price %></strong>
  </div>
</div>

  <%if @post.user == current_user%>
      <%= link_to 'Edit', edit_post_path(@post) %>
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%else%>
      <% link_to 'Back', posts_path%>
  <%end%>
 </div>
</section>
